@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 835px;

}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    height: auto;
    border: 1px solid #EEEEEE;


}
.card-head-wrap {
    position: relative; /* Establece el contexto de posición relativa para los elementos hijos */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
}
.card-head-wrap h2{
    font-size: 32px;
    color: #000000;
    margin-top: 15px;
}

.card-head-wrap p{
    font-size: 20px;
    color: #FF0000;
    font-weight: 700;
    margin-top: 10px;
}

.card-head {
    position: absolute; /* Posiciona el fondo de forma absoluta dentro del contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Hace que el fondo ocupe todo el contenedor */
    max-height: 170px;
    background-image: url('assets/images/bck-card.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Envía el fondo detrás del contenido */
}

.logo-img {
    width: 90%;
    max-width: 325px;
    margin-top: 25px;
    margin-bottom: 25px;
    z-index: 1; /* Asegura que las imágenes y el texto estén por encima del fondo */
}

.user-img {
    width: 80%;
    max-width: 125px;
    border-radius: 50%;
    z-index: 1; /* Asegura que la imagen del usuario esté por encima del fondo */
}
.card-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 25px;
    margin-top: 25px;
    background-color: #ffffff;
}
.card-section a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.row-socials{
    display: flex;
    align-items: center;
    width: 85%;
    max-width: 310px;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra desplazada hacia la derecha y abajo */
    color: #FF0000;
}
.email-small{
    font-size: 12.5px !important;
}
.socials-inf{
    color: #5B5B5B;
    font-weight: 700;
    overflow: hidden;
}
.socials-inf p{
    font-size: 10px;
}
.socials-inf span {
    white-space: nowrap;        /* Evita que el texto haga salto de línea */
    overflow: hidden;           /* Oculta el texto que no cabe en el contenedor */
    text-overflow: ellipsis;    /* Muestra puntos suspensivos (...) al final del texto */
    max-width: 100%;            /* Asegura que el ancho máximo del contenedor se ajuste al 100% de su contenedor padre */
    display: inline-block;    /* Asegura que el span se comporte como un bloque en línea */
    font-size: 16px;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: #EEEEEE;
    height: 90px;
    width: 100%;
    margin-top: 45px;
}
.card-footer a{
    text-decoration: none;
    color: black;
    font-size: 24px;
    padding: 1rem;
}
@media (max-width: 1024px) {
    .card{
        display: none;

    }
}